{{ define "title" }}LOGIN{{ end }}
{{define "head"}}{{end}}
{{ define "content" }}
    <form action="/login" method="POST">
        Login here<br>
        {{range .}}
            {{.}}:<div><input type="text" name="{{.}}" size="60"></div><br>
        {{end}}
        <div><input type="submit" value="LOGIN"></div>
    </form>
{{ end }}
