{{define "title"}}Upload Movie{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<h1>Upload Movies for {{.Name}}</h1>
<form action="uploadforevent?eventID={{.EventID}}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="uploadforevent">Upload Movies</label>
        <input type="file" name="uploadforevent" id="uploadforevent" multiple="multiple"/>
        <!-- <input type="submit" name="submit" value="upload" /> -->
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{{end}}
